.popup{
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s ease 2s;
    position: fixed;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    right: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    
}
 