.popup__image-link{
    height:27px;
    margin-left: 22px;
    margin-right: 22px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;    
}

@media screen and (min-width:624px) {
    .popup__image-link{
        margin-left: 36px;
        margin-right: 36px;
    }
 }