@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/Inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__contents/page__contents.css);
@import url(../scripts/index.js);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/group/group.css);
@import url(../blocks/group/__elements/group__elements.css);
@import url(../blocks/group/__element/group__element.css);
@import url(../blocks/group/__element-img/group__element-img.css);
@import url(../blocks/group/__element-caption/group__element-caption.css);
@import url(../blocks/group/__element-text/group__element-text.css);
@import url(../blocks/group/__element-trash/group__element-trash.css);
@import url(../blocks/group/__element-like/group__element-like.css);
@import url(../blocks/group/__element-like/__element-like_liked/group__element-like_liked.css);


@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/popup__container_type_edit.css);
@import url(../blocks/popup/__container/_type/popup__container_type_add.css);
@import url(../blocks/popup/__image-container/popup__image-container.css);
@import url(../blocks/popup/__close/popup__close.css);
 
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__submit-text/popup__submit-text.css);
@import url(../blocks/popup/__submit/_edit/popup__submit_edit.css);
@import url(../blocks/popup/__submit/_add/popup__submit_add.css);

@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__caption/popup__caption.css);

@import url(../blocks/popup/__close/_type/popup__close_type_edit.css);
@import url(../blocks/popup/__close/_type/popup__close_type_add.css);
@import url(../blocks/popup/__close/_type/popup__close_type_image.css);

@import url(../blocks/popup/__user-name/popup__user-name.css);
@import url(../blocks/popup/__user-info/popup__user-info.css);
@import url(../blocks/popup/__image-name/popup__image-name.css);
@import url(../blocks/popup/__image-link/popup__image-link.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/popup/_type/popup_type-edit.css);
@import url(../blocks/popup/_type/popup_type-add.css);
@import url(../blocks/popup/_type/popup_type-image.css);




