.popup__user-info{
    height:27px;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 14px;
    line-height: 17px;
    color: #000000;    
}

@media screen and (min-width:624px) {
    .popup__user-info{
        margin-left: 36px;
        margin-right: 36px;
    }
 }